.configuracoes-container{ /*Container que engloba o formulario*/
    text-align: center;
    background-image: 
    url("https://images3.alphacoders.com/741/thumb-1920-74185.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    font-size: 20px;   
}

.painel-configuracoes{ /*Configs da tag form*/
    text-align: left;
    color:white;
    background-color: #333333;
    display: inline-block;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.configuracoes-container .tituloMenu{ /*configs do titulo Menu*/
    font-size: 25px;
    padding:20px;
    text-align: center;
}

.menu-configurar{   /*Div que engloba cada input do menu*/
    margin-bottom: 20px; 
}

.menu-configurar , label{ /*Pega o label de cada input do menu*/
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.painel-configuracoes .inputEstilo{ /*Pega todos os inputs do formulario*/
    padding: 10px;
    border: 2px solid gray;
    border-radius: 12px;
}

.painel-configuracoes input:hover{
border-color: black;
}

.painel-configuracoes  button{ /*Pega os botoes do formulario*/
    padding:10px;
    border: 2px solid gray;
    border-radius: 12px;
} 

.botaoEstilo{
    background-color: #064f32;
    color:white;
}
.painel-configuracoes  button:hover{
    border-color: black;
}

/*----painel de configurações do Sobre/Resumo----*/

.painel-resumo{ /*----Div que engloba todos os inputs do resumo----*/
    padding-top: 10px;   
    padding-bottom: 10px;
}

.painel-resumo label{ /*div que engloba o resumo e o sobre*/
    padding-top: 15px;
    padding-bottom: 5px;
    
}

.resumo-container  .sobre-titulo{ /*----Pega o titulo do resumo----*/
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

/*----Painel dos participantes----*/

.participantes-titulo{
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
}
.usuarios{
    padding-bottom: 20px;
    padding-top: 10px;
}

/*----Botão de configuração----*/

.container-menu{
    
    display: inline-block;
    text-align: center;
}
.botao-menu{
    background-color: #064f32;
    border: 2px solid gray;
    border-radius: 10px;
    color: white;
    padding:20px;
}
 
.botao-menu:hover{
    background-color: #078854;
    border-color: black;
}

#container-formulario{
    display: none;
}