.configuracoes-container{
    text-align: center;
    background-color: black;
    font-size: 20px;
}
.configuracoes-lista-titulo{
    font-size: 30px;
    padding:20px;
    text-align: center;
   
}

.painel-configuracoes{
    text-align: left;
    color:black;
    background-color: gray;
    display: inline-block;
    max-width: 500px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.painel-configuracoes, input{
    padding:10px;
}
.painel-configuracoes , button{
    padding:10px;
}

.lista-configurar{
    margin-bottom: 20px;
}

.lista-configurar , label{
    display: block;
}
