.modelos{
    width: 100%;    
    display: flex;
    margin: 5em 0;
    min-height: 100vh;

}
.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: 0 6em;
}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
image{
    object-fit: cover;
}
.modelos-text{
    text-align: center;
    width: 500px;
}
.modelos-text h3{
    font-weight: bold;
    font-size: 50px;

}
.modelos-text p{
    font-size: 40px;    
    line-height: 1.2em;
}