/*vitoria*/
.header{
    background-image: url(.//Imagens/img.home.jpg);
    background-size: cover;
}

.menu-home{
    padding: 80px;
}

.menu-itens{
    background-color: #2B2835;
    color:white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 15px 40px 15px;
    text-align: center;
    width: 25%;
}
/*gustavo*/

/*laura*/

/*liu*/

/*eric e bruno*/
