/*vitoria*/
.header{
    background-image: url(.//Imagens/img.home.jpg);
    background-size: cover;
}

.menu-home{
    padding: 80px;
}

.menu-itens{
    background-color: #2B2835;
    color:white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 15px 40px 15px;
    text-align: center;
    width: 25%;
}
.logo-tesla{ 
    margin: 12px auto auto auto;
    padding: right 50px;
    width: 100px;
    height: 100px;
    align-items: center;
}

.titulo-principal{
    color: white;
    background-color: #2B2835;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.lista-contatos{
    
    background-image: url(.//Imagens/img.contatos.jpg);
    background-size: cover;
    padding: 70px 80px 100px 80px;
    font-size: 22px;
}

.email-contatos{
    padding: 0 0 20px 0;
}
