/*vih*/
body{
    font-family: 'Lato', sans-serif;
}

.header{
    background-image: url(.//Imagens/img.home.jpg);
    background-size: cover;
    width: 100%;
}

.logo-tesla-home{
    padding: 0 0 0 50px;
    width: 20%;
}

.menu-home{
    padding: 50px;
}

.menu-itens {
    background-color: #2B2835;
    background-size: cover;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 15px;
    text-align: center;
    width: 300px;
    font-size: clamp(4px, 5px + 1vw, 22px);
}

.menu-itens a{
    color:white;
    text-decoration: none;
}

.titulo-principal{
    color: white;
    background-color: #2B2835;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.lista-contatos{
    background-image: url(.//Imagens/img.contatos.jpg);
    background-size: cover;
    padding: 70px 80px 100px 80px;
    font-size: 22px;
}

.titulo-contatos{
    font-weight: bold;
}

.email-contatos{
    color: black;
    padding: 0 0 20px 0;
}

.email-contatos a{
    text-decoration: none;
    color: black;
}
