/*vitoria*/
.header{
    background-image: url(.//Imagens/img.home.jpg);
    background-size: cover;
}

.menu-home{
    padding: 80px;
}

.menu-itens{
    background-color: #2B2835;
    color:white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 15px 40px 15px;
    text-align: center;
    width: 25%;
}
.logo-tesla{ 
    margin: 12px auto auto auto;
    padding: right 50px;
    width: 100px;
    height: 100px;
    align-items: center;
}
.rodapé{
	background: #000000;
    color: #ffffff;
	padding: 100px 0;
    width: auto;
    height: 100px;
    text-align: center;
    margin: auto auto auto auto;
}
/*gustavo*/

/*laura*/

/*liu*/

/*eric e bruno*/
